.center{
	margin-top: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.project-container{
	margin-top:50px;
}

.feature-title{
	font-weight: bold;
}

.feature-date{
	color:gray;
}

body{
	background-color: #e7e7e7;
}

div.clear { clear: both; }

/*.btn{
	border: 0px solid black;
	color: white;
	background-color: rgb(20, 92, 158);
	padding: 10px;
	display: inline;
	border-radius: 5px;
	cursor: pointer;
}*/

.ul-list{
	list-style-type:circle !important; 
	margin-left: 20px !important;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}